# the first data frame: df is for Adjusted Close price

In [2]:
import pandas as pd

In [14]:
def process_data_for_labels(ticker):
    df = pd.read_csv("sp500_joined_closes.csv", index_col=0)
    df.fillna(0, inplace = True)


    hm_days = 7
    for i in range(1, hm_days+1):
        df["{}_{}d".format(ticker,i)] = (df[ticker].shift(-i) - df[ticker]) / df[ticker]
    df.head()

NameError: name 'ticker' is not defined

In [28]:
df = pd.read_csv("sp500_joined_closes.csv", index_col=0)
df.fillna(0, inplace = True)

hm_days = 7
for i in range(1, hm_days+1):
    df["{}_{}d".format("MMM",i)] = (df["MMM"].shift(-i) - df["MMM"]) / df["MMM"]

In [29]:
df.head()

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,ANET,AJG,AIZ,MMM_1d,MMM_2d,MMM_3d,MMM_4d,MMM_5d,MMM_6d,MMM_7d
Date,,,,,,,,,,,,,,,,,,,,,
1999-12-31,27.323933,6.810734,0.0,18.37500,0.0,1.143539,16.693562,14.46875,0.0,29.469620,...,0.0,7.916804,0.0,-0.035760,-0.074074,-0.047254,0.029374,0.049809,0.044700,0.026820
2000-01-03,26.346825,6.564564,0.0,18.25000,0.0,1.227554,16.274673,15.50000,0.0,28.582567,...,0.0,7.779252,0.0,-0.039735,-0.011920,0.067550,0.088742,0.083444,0.064901,0.067550
2000-01-04,25.299936,6.377004,0.0,17.81250,0.0,1.190215,14.909401,14.62500,0.0,27.449125,...,0.0,7.427733,0.0,0.028965,0.111724,0.133793,0.128276,0.108965,0.111724,0.111724
2000-01-05,26.032759,6.365284,0.0,18.00000,0.0,1.194882,15.204173,15.00000,0.0,27.744810,...,0.0,7.458300,0.0,0.080429,0.101877,0.096515,0.077748,0.080429,0.080429,0.065013
2000-01-06,28.126556,6.588011,0.0,18.03125,0.0,1.171544,15.328290,16.00000,0.0,27.966566,...,0.0,7.444930,0.0,0.019851,0.014888,-0.002482,0.000000,0.000000,-0.014268,-0.035980